/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(34, 37, 19);
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: -1rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 500px;
    background-color: rgb(34, 37, 19);
}

.carousel-item>img {
    min-width: max-content;
    height: max-content;
    display:block;
    margin:auto;
}
